body, html {
  font-family: arial;
  font-size: 13px;
  background-color: rgb(247, 249, 252);
}
#grd {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}
.button {
  background-color: #4caf50;
  border: 1px solid #45a741;
  border-radius: 3px;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.button:hover {
  background-color: #45a741;
}
#button2 {
  background-color: #007799;
  border: 1px solid blue;
}
#box {
  background-color: #ecf0f1;
  margin: 10px solid;
  padding: 5px 0px 0 0px;

  border: 1px solid #cccccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  height: fit-content;

  font-size: 14px;

  box-shadow: 2px 2px 2px #cccccc;
}
#box #box_text {
  font-size: 13px;

  border: 1px solid #cccccc;
  color: black;
  padding: 5px;
  background-color: white;
}
#box {
  width: fit-content;
  height: fit-content;
}
@media only screen and (max-device-width: 800px) {
  #box {
    width: 100%;
  }
}
textarea, input[type=text] {
  border: none;
  border-bottom: 2px solid #999999;
  background-color: #fdfdfd;
}
textarea:focus, input[type=text]:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #005577;
  background-color: #ffffff;
  transition: ease-in-out, background-color .20s ease-in-out;
}
ul {
  font-family: serif;

  z-index: 999;
  position: fixed;
  list-style-type: none;

  background-image: linear-gradient(45deg, #343434 25%, #303030 25%, #303030 50%, #343434 50%, #343434 75%, #303030 75%, #303030 100%);
  background-size: 8.49px 8.49px;
  color: #dddddd;
  font-size: 15px;
  width: 100%;

  padding: 0px;
  margin: 0px;
  top: 0px;

  font-size: 15px;
}

li {
  float: left;
}
li a {
  color: #eeeeee;
  text-decoration: none;
  padding: 15px 15px;
  display: block;
}
li a:hover {
  background-color: #111;
}
.curent {
  background-color: #427b58;
}
pre, code {
  color: #c7254e;
  background-color: #f9f2f4;
  width: fit-content;
  margin: 0px;
  border-radius: 2px;
}
